.JumbotronHeader{
    max-height: 20px;
    font-family: 'Courgette', cursive;
    font-size: 275%;
    margin-top: 0px;
    /* border-style: solid;
    border-color: red; */
}
.jr{
    font-size: 20px;
    margin-bottom: 40px;
    /* border-style: solid;
    border-color: red; */
}