.JumbotronHeader{
    max-height: 20px;
    /* font-family: 'Courgette', cursive; */
    font-size: 275%;
    margin-top: 0px;
    letter-spacing: 3px;
    background-color: rgb(161, 157, 157)
}
.jr{
    font-size: 20px;
    margin-bottom: 40px;
}