.navbar-ul{
    display: inline-block;
    /* text-align: center;
    max-width: 100%; */
    letter-spacing: 3px;
    line-height: inherit;
    word-spacing: normal;
  /* padding-left: 30%; */

}

.navbarli-1{
    display: inline-table;
    box-sizing: inherit;
    text-align: center;
    max-width: 100%;
}
.navbarli-2{
    display: inline-table;
    box-sizing: inherit;
    text-align: center;
    max-width: 100%;
}
.navbarli-3{
    display: inline-table;
    box-sizing: inherit;
    text-align: center;
    max-width: 100%;
}