.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    /* margin: 20px 20px 20px 20px */
    
}
.navBar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* border-style: solid; */
    /* border-color: blue; */
    background-color: #eee;
    opacity: 2;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    box-shadow:
    /* The top layer shadow */
        0 1px 1px rgba(0,0,0,0.15),
            /* The second layer */
        0 10px 0 -5px #eee,
            /* The second layer shadow */
        0 10px 1px -4px rgba(0,0,0,0.15),
            /* The third layer */
        0 20px 0 -10px #eee,
            /* The third layer shadow */
        0 0px 1px -9px rgba(0,0,0,0.15);
    
}
.navBar-Links{
    text-align: left;
}