footer{
    text-align: center;
    margin-top: 100px;
    border-style: solid;
    border-color: blue;
    display: grid;
    border-bottom: 1px solid #c46666;
    display: center;
    margin-bottom: 0;
}